<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AI Base Farmer Assistant System</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
 

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <!-- Bootstrap CSS File 
  <link href="/static/lib/bootstrap//static/css/bootstrap.min.css" rel="stylesheet">-->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!-- Libraries CSS Files -->
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/css/style.css" rel="stylesheet">
  <style type="text/css">
    #home {
      margin-top: 100px;
    }
    .service-box {
      padding: 1.5rem 1.5rem;
    }
  </style>
</head>

<body id="page-top">
  
  <!--/ Nav Start /-->
  <nav class="navbar navbar-b navbar-expand-md fixed-top navbar-reduce" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top"></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#teams">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  

  <!--/ Section Services Start /-->
  <section id="home" class="services-mf route" style="background-image: url(/static/img/background.jpg)"><div class="overlay-mf" style="
    margin-top: 100px;height:89.7%;
"></div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Farmer Assistant System
            </h3>
            <p class="subtitle-a">
              
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
	  
      <div class="row">
        <div class="col-md-12">
          <a href="/plant-disease-diagnosis/">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-ios-medkit-outline"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Plant Disease Identification</h2>
                <p class="s-description text-center">
                </p>
              </div>
            </div>
          </a>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="/plant-dictionary/">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-ios-book-outline"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Plant Dictionary</h2>
                <p class="s-description text-center">
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6">
          <a href="/farmer-assistant/">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-ios-chatbubble-outline"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Farmer Assistant</h2>
                <p class="s-description text-center">
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Services End /-->

 

  
  
  <!--/ Section Testimonials Start /-->
  <div id="teams" class="testimonials paralax-mf bg-image" style="background-image: url(/static/img/background.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div id="testimonial-mf" class="owl-carousel owl-theme owl-loaded owl-drag">
            
          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0.25s ease 0s; width: 300px;"><div class="owl-item active" style="width: 300px;margin-right: 20px;"><div class="testimonial-box">
              <div class="author-test">
                <img src="/static/img/Avadhesh Gaur.jpg" alt="" class="rounded-circle b-shadow-a">
                <span class="author">Avadhesh Gaur</span>
              </div>
              
            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"><button role="button" class="owl-dot active"><span></span></button></div></div>
        </div>
        <div class="col-md-4">
          <div id="testimonial-mf" class="owl-carousel owl-theme owl-loaded owl-drag">
            
          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0.25s ease 0s; width: 300px;"><div class="owl-item active" style="width: 300px;margin-right: 20px;"><div class="testimonial-box">
             
              
            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"><button role="button" class="owl-dot active"><span></span></button></div></div>
        </div>
        <div class="col-md-4">
          <div id="testimonial-mf" class="owl-carousel owl-theme owl-loaded owl-drag">
            
          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0.25s ease 0s; width: 300px;"><div class="owl-item active" style="width: 300px;margin-right: 20px;"><div class="testimonial-box">
             
              
            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"><button role="button" class="owl-dot active"><span></span></button></div></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="testimonial-mf" class="owl-carousel owl-theme">
            <div class="testimonial-box">
             
              <div class="content-test">
                <p class="description lead">
                  Computer Science &amp; Engineering,<br/> B.Tech Final Year,<br/> MMMUT Gorakhpur
                </p>
                <span class="comit"><i class="fa fa-quote-right"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Section Testimonial End /-->
  
  <!--/ Section Contact-Footer Start /-->
  <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(/static/img/background.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-12">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Send Message To Us
                    </h5>
                  </div>
                  <div>
                      <form role="form" class="contactForm">
                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                              <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
              
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/static/lib/popper/popper.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/lib/easing/easing.min.js"></script>
  <script src="/static/lib/counterup/jquery.waypoints.min.js"></script>
  <script src="/static/lib/counterup/jquery.counterup.js"></script>
  <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/static/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/static/lib/typed/typed.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="/static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/static/js/main.js"></script>

</body>
</html>
