<!DOCTYPE html>
<html lang="en">
<title>Know Your Crops</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Know <br>Your Crops</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Potato</a> 
    <a href="#designers" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Tomato</a> 
    <a href="#packages" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Pepper</a> 
   
  </div>
</nav>

<!-- Top menu on small screens -->


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
<div class="w3-container" id="#" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Potato</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    
  </div>

  <!-- The Team -->
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="../static/img/pot early blight.jpg" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>Early Blight:</h3>
          <p class="w3-opacity">About</p>
          <p>Early blight is a very common disease of potato and is caused by Alternaria Solani(a fungal pathogen). The disease occurs over a wide range of climatic conditions and depends in a large part on the frequency of foliage wetting from rainfall, fog, dew, or irrigation and cultivar susceptibility. Yield losses up to 79 per cent from early blight damage have been reported from India.</p>
            <p class="w3-opacity">Symtoms</p>
            <p>Symptoms of early blight occur on foliage and tubers of potatoes.  Initial symptoms on leaves appear as small 1-2 mm black or brown lesions. Lesions greater than 10 mm in diameter often have dark pigmented concentric rings.  This are called bullseye type lesion. As lesions expand and new lesions develop entire leaves may turn chlorotic and dehisce, leading to significant defoliation.  Lesions occurring on stems are often sunken and lens-shaped with a light centre, and have the typical concentric rings. </p>
            <p class="w3-opacity">Management</p>
            <p>Diseased plant parts should be destroyed properly. Irrigation timing should be to allow plants time to dry before nightfall and also irrigation in cloudy weather should be avoided. Chemicals like Trichoderma harzianum and Pseudomonas fluorescens are effective against the disease. Protectant fungicides are also very effective against this.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="../static/img/Late_blight_on_potato_leaf_2.jpg" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>	Late Blight disease:</h3>
          <p class="w3-opacity">About</p>
          <p>Late Blight diseases in potato crops worldwide are caused by Phytophthora infestans. Reduction in potato production due to late blight ranges between 5 and 90% depending upon climatic conditions in India. The changing climate pattern is influencing appearance of late blight as it is occurring every year in plain region with moderate to high disease severity. Variations in disease severity are mainly due to climatic factors i.e. rainfall, relative humidity, temperature and pathogen virulence.</p>
            <p class="w3-opacity">Symtoms</p>
            <p>Late blight will first appear as water-soaked spots, usually at the tips or edges of lower leaves where water or dew tends to collect. Then Light brown lesions develops which elongates and encircles the stem and petioles breaking them and killing the plant/leaves instantly. </p>
            <p class="w3-opacity">Management</p>
            <p>Late Blight needs living tissue to survive. When conditions are right such as the cold, wet weather and the thunder storms, late blight can survive very well and be moved many miles. Be aware of the relative susceptibility to late blight of the potato varieties that you are planting. Late Blight Can also be managed through eco-friendly ways. Bacterial and fungal antagonist are also found effective against it. </p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="../static/img/black dot.jpg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>Black Dot: </h3>
           <p class="w3-opacity">About</p>
          <p>Black dot disease is caused by the plant pathogen known as Colletotrichum coccodes. It affects all underground parts of the potato, including the roots, tuber, and stolon. It is named for the small black, dot-like structures (sclerotia) that form on the surface of infected stems, stolons, and tubers. Black dot disease can be seen in many of the places that grow potatoes around the world. Black dot affects other plants in the potato family, including tomatoes, eggplants, and peppers. Stressed plants are more susceptible to getting black dot than plants that are more healthy. </p>
            <p class="w3-opacity">Symtoms</p>
            <p>Black dot first appears in mid- to late season as a yellowing and wilting of plants. These symptoms are easily confused with Verticillium Wilt or early dying associated with bacterial soft rot. Wilting caused by black dot develops rapidly, in contrast to Verticillium wilt. The black dot pathogen can cause severe decay of the cortical tissue of roots. Affected roots may appear stringy when pulled from the soil. Adherence of stolons to the stem ends of tubers is another symptom. </p>
            <p class="w3-opacity">Management</p>
            <p>Spraying fungicides early on in the growing season, before the vaccination of black dot, can reduce the severity of the infection. If fungicide is applied later in the growing season, it has little to no effect on the disease. For fungicides to have a lasting effect, they must be sprayed multiple times. Cultural control is another way to manage black dot disease. This includes rotating non-host crops. Other control methods include using certified seed potatoes, planting in soil with relatively low moisture levels, and controlling the level of humidity.</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Designers -->
  <div class="w3-container" id="designers" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Tomato</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    
  </div>

  <!-- The Team -->
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="../static/img/target spot tom.jpg" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>	Target Spot:</h3>
          <p class="w3-opacity">About</p>
          <p>Target spot is one of the most important diseases of tomato in tropical and subtropical regions. Target leaf spot disease of tomato is caused by Corynespora cassiicola. This pathogen is the natural barrier for tomato production with a disease severity ranged between 35% and 58% which ultimately causes tremendous loss of tomato foliage and fruits.</p>
            <p class="w3-opacity">Symtoms</p>
            <p>The target spot fungus can infect all above-ground parts of the tomato plant. Plants are most susceptible as seedlings and just before and during fruiting. The initial foliar symptoms are pinpoint-sized, water-soaked spots on the upper leaf surface. Target spot infections typically start on the older, lower leaves in the inner canopy. Thus, the initial symptoms may not be noticed by the grower, making early detection difficult.</p>
            <p class="w3-opacity">Management</p>
            <p>Avoid planting tomatoes near old plantings. Inspect seedlings for target spot symptoms before transplanting. Cultural practices for target spot management include improving airflow through the canopy by wider plant spacing and avoiding over-fertilizing with nitrogen, which can cause overly lush canopy formation. The primary strategy used to manage target spot on tomato is the regular application of fungicides. Applications should begin before symptoms appear when conditions are favourable for infection and disease development. </p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="../static/img/tomato-mosaic-virus-leaf.jpg" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>Mosaic Virus:</h3>
          <p class="w3-opacity">About</p>
          <p>Tomato mosaic virus (ToMV) is a plant pathogenic virus. It is found worldwide and affects tomatoes and many other plants. ToMV has a rod shaped structure, about 300 nm length and 18 nm radius. ToMV has its genetic material enclosed in a protein coat. The virus particles are very stable and remain infectious for many years after extraction. The virus may be introduced on infected seed. Only a small number of seedlings need to be infected for the virus to spread rapidly. It can also be spread on contaminated tools and the clothing and hands of workers during routine activities</p>
            <p class="w3-opacity">Symtoms</p>
            <p>Tomato mosaic virus causes yellow mosaic symptoms on the leaves and tomato fruits. Spots of dead leaf tissue may become apparent with certain cultivars at warm temperatures. Reduced fruit number and size.Yellowish rings may form if fruit ripens in warm weather. Fruits may show internal browning just under the skin (brownwall).</p>
            <p class="w3-opacity">Management</p>
            <p>There are numerous tomato varieties that are resistant to one or the other of the viruses. ToMV causes yellow mosaic symptoms on the leaves and tomato fruits. These are usually denoted in seed catalogs, often with the code ToMV after the variety name if resistant to tomato mosaic virus and TMV if resistant to tobacco mosaic virus. There are only a few varieties that are resistant to both viruses. Tomato mosaic virus strains occur in Chenopodium murale in the USA, causing severe stunting, distortion and necrosis, and in pear associated with a diffuse chlorotic leaf spotting.</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="../static/img/bacterial-specspot-tomato-leaf.jpg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>	Bacterial Spot:</h3>
           <p class="w3-opacity">About</p>
          <p>Bacterial spot of tomato is a potentially devastating disease that, in severe cases, can lead to unmarketable fruit and even plant death.  Bacterial spot can occur wherever tomatoes are grown, but is found most frequently in warm or wet climates. Bacterial spot can affect all above ground parts of a tomato plant, including the leaves, stems, and fruit.  Bacterial spot is caused by four species of Xanthomonas and occurs worldwide wherever tomatoes are grown.</p>
            <p class="w3-opacity">Symtoms</p>
            <p>On tomato, leaf lesions are initially circular and water-soaked and may be surrounded by a faint yellow halo. In general, spots are dark brown to black and circular on leaves and stems. As fruit mature, the spots enlarge (reaching a maximum size of ¼ inch) and turn brown, scabby and rough.  Mature spots may be raised, or sunken with raised edges. When Xanthomonas is present, bacteria will ooze (also referred to as bacterial streaming) from infected tissue and can be observed under a light microscope. Bacterial streaming will not be observed in lesions caused by fungal pathogens.</p>
            <p class="w3-opacity">Management</p>
            <p>Plant pathogen-free seed or transplants to prevent the introduction of bacterial spot pathogens on contaminated seed or seedlings. Treat seeds with dilute bleach, hydrochloric acid, or hot water to reduce the potential for seedling infection. Crop rotation should be used to avoid pathogen carryover on volunteers and crop residue. Do not spray, tie, harvest, or handle wet plants as that can spread the disease. </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Packages / Pricing Tables -->
  <div class="w3-container" id="packages" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Pepper</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
 
  </div>
<div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="../static/img/pepper bacterial.PNG" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>	Bacterial spot:</h3>
          <p class="w3-opacity">About</p>
          <p>Bacterial spot is one of the most devastating diseases of pepper and tomato. The disease occurs worldwide where pepper and tomato are grown in warm, moist areas. When it occurs soon after transplanting and weather conditions remain favorable for disease development, the results are usually total crop loss. When the disease occurs in commercial pepper fields early in the season, some farmers destroy the entire crop by disking because it is so difficult and economically costly to control once present in the field.</p>
            <p class="w3-opacity">Symtoms</p>
            <p>Bacteria attack the foliage, stems, and fruit of peppers. Lesions may form on fruit, including the peduncle, but the major crop loss results from shedding of blossoms and young, developing fruit. Fruit that remain are usually non-marketable because of poor quality. They may have lesions and are often misshapen and damaged from excessive exposure to the sun as a result of defoliation. This can result in sunscald on the fruit. Diseased leaves drop prematurely resulting in extensive defoliation. As newly emerging leaves become infected and defoliation of older, diseased leaves continues, plants possess leaves mostly on their upper stems. Generally, defoliation is more common for peppers than for tomatoes. </p>
            <p class="w3-opacity">Management</p>
            <p>The primary management strategy of bacterial spot begins with use of certified pathogen-free seed and disease-free transplants. The bacteria do not survive well once host material has decayed, so crop rotation is recommended. Once the bacteria are introduced into a field or greenhouse, the disease is very difficult to control. Pepper plants are routinely sprayed with copper-containing bactericides to maintain a "protective" cover on the foliage and fruit. </p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="../static/img/pepper sunscald.jpg" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>Pepper Sunscald:</h3>
          <p class="w3-opacity">About</p>
          <p>Sunscald, a noninfectious disease of pepper and tomato, is caused by sudden exposure of the fruit to intense direct sunlight and is most serious during periods of extreme heat. Sunscald is common on plants that have suffered premature loss of foliage from leafspot diseases. Usually the foliage on the pepper plant will help shield it from the most intense rays of the sun, but in some cases, the leaves have defoliated partially due to insects or disease. This leaves the developing fruit vulnerable to the sun and the peppers burn just like you or I would in exposed conditions.</p>
            <p class="w3-opacity">Symtoms</p>
            <p>Irregular, light-colored, scalded areas appear on any part of the fruit exposed to direct sunlight. The plant or fruit will grow a paper-like, thin, grayish-white substance. The sunscalded area may also begin growing black mold. A number of secondary fungi commonly grow over the scalded surface, giving it a black, gray, or green moldy appearance.</p>
            <p class="w3-opacity">Management</p>
            <p>Providing optimum pest control is a way to reduce the problem. Defoliation amplifies the sun’s effects. Watch for pests and begin a treatment program right away. Fertilize with an organic fertilizer prior to fruit set and after fruit set for better leaf growth to shade the peppers. Sunscald on peppers is a relatively small issue and usually only results in ugly fruit.

</p>
        </div>
      </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
        <img src="../static/img/powery mildew.jpg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>Powdery Mildew:</h3>
           <p class="w3-opacity">About</p>
          <p>Powdery mildew is a fungal disease that affects a wide range of plants. Powdery mildew diseases are caused by many different species of fungi in the order Erysiphales. Powdery mildew can be severe during the warmest part of summer and can cause heavy yield losses. Powdery mildew on pepper plants spreads primarily by wind, but also by splashing water. The disease is also transmitted by humans, and sometimes by insects such as aphids, thrips and whiteflies.</p>
            <p class="w3-opacity">Symtoms</p>
            <p>Although the disease commonly occurs on older leaves just before or at fruit set, it can develop at any stage of crop development. Symptoms include patchy, white, powdery growth that enlarges and coalesces to cover the entire lower leaf surface. The edges of infected leaves may roll upwards exposing the white, powdery fungal growth. Diseased leaves drop from the plants and leave the fruit exposed to the sun, which may result in sunburning.</p>
            <p class="w3-opacity">Management</p>
            <p>In an agricultural setting, the pathogen can be controlled using chemical methods, genetic resistance, and careful farming methods. Standard fungicides are an effective way to manage powdery mildew disease on plants. Spray programs of conventional fungicides are advised to begin when powdery mildew symptoms and signs are first noticed. Regular monitoring to detect powdery mildew, especially during warm weather, is important to time fungicide applications early enough to prevent damage.</p>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Contact -->
 

<!-- End page content -->
</div>

<!-- W3.CSS Container -->


<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
